
@media screen and (max-width: 410px){

    body{
        background-color: red;
    }

    #medium, #large{
        display: none;
    }

    h1{
        font-size: 7vw;
    }

    p{
        font-size: 6.5vw;
    }
}


@media screen and (min-width : 411px) and (max-width: 768px){

    body{
        background-color: green;

    }

    #small, #large{
        display: none;
    }

    h1{
        font-size: 4.5vw;
    }

    p{
        font-size: 3vw;
    }
}


@media screen and (min-width: 769px){

    body{
        background-color: blue;
 
    }

    #medium, #small{
        display: none;
    }

    h1{
        font-size: 3vw;
    }

    p{
        font-size: 2vw;
    }
}
    
