
@media screen and (max-width: 410px){

    body{
        background-color: red;
    }

    #medium, #large{
        display: none;
    }
}


@media screen and (min-width : 411px) and (max-width: 768px){

    body{
        background-color: green;

    }

    #small, #large{
        display: none;
    }
}


@media screen and (min-width: 769px){

    body{
        background-color: blue;
 
    }

    #medium, #small{
        display: none;
    }
}
    
